.sobre {
    display: flex;
    align-items: flex-start; /* alinha os itens no topo */
    justify-content: flex-start; /* coloca os itens próximos à esquerda */
    padding: 50px;
    gap: 15%; /* espaçamento entre a imagem e os textos */
    background-color: #333;
    border-radius: 10px 50px 90px 200px;
}

.sobre img {
    max-width: 50%; /* ajuste a largura */
    height: auto;
    padding: 0; /* remove o padding pra ficar alinhado */
    border-radius: 10%;
}

.sobre article {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinha os itens no topo */
    gap: 20px; /* espaçamento entre os artigos */
    max-width: 40%; /* limita a largura do texto */
    margin-left: 40px;
    margin-top: 40px;
}

.sobre h1 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    line-height: 1.1;
    margin: 0;
    margin-bottom: 20px; /* espaço entre o título e os parágrafos */
    align-self: flex-start; /* deixa o titulo alinhado */
}

.sobre p {
    font-weight: normal;
    text-align: justify; 
    line-height: 1.5;
    color: white;
    margin: 0; 
}




@media (max-width: 770px) {
    .sobre {
        flex-direction: column; /* deixa os coiso vertical */
        align-items: center; /* centraliza */
        gap: 30px; /* espaçamento de texto e imagem */
        padding: 30px; /* espacinho legal */
    }

    .sobre img {
        max-width: 70%; /* largura maxima*/
        margin-bottom: 20px; /* espçao embaixo pra n ficar grudada no container */
    }

    .sobre article {
        max-width: 90%; /* fica com mais espaço */
        margin: 0 auto; /* centraliza */
    }
    footer {
        font-size: 0.9em; /* tamanho da fonte menor */
        padding: 0.5em; /* menor espaço INTERNO */
    }
}
