@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color: #000000;
}

header {
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    background-color:  #000000;
    color: #fff;
    text-align: center;
    margin: 0;
}

.fundoImagem {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/projeto1/casa.png');
    background-repeat: no-repeat;  /* nao faz duplicadas */
    background-size: cover;  /* cobre tudo*/
    background-position: center;
    animation: fundoMudar 15s linear infinite;  /* deixa a animacao mexendo em linha por 15s e repete */
}

@keyframes fundoMudar {
    0% {
        background-image: url(../img/projeto1/casa.png);
    }

    20% {
        background-image: url(../img/projeto1/casa.png);
    }

    40% {
        background-image: url(../img/projeto2/areagourmet2.png);
    }

    60% {
        background-image: url(../img/projeto2/areagourmet2.png);
    }

    80% {
        background-image: url(../img/projeto4/escritorio.png);
    }

    95% {
        background-image: url(../img/projeto4/escritorio.png);
    }

}


/* filtro praas imagens ficarem mais apagadas */
.filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.432);
}

.container-conteudo {
    position: relative;  /* relativo ao fundo */
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* deixa as info uma embaixo da outra*/
    z-index: 2; /* altera a camada */
}

.conteudo {
    color: #000000;
    background-color: #ffffffc0;
    border-radius: 10px;
    padding: 10px;
}

.conteudo h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.conteudo p {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.conteudo button {
    color: #ffffff;
    border: none;
    outline: none;  /* borda cor do botao */
    font-size: 18px;
    background-color: #48134d;
    padding: 14px 22px;
    text-transform: uppercase;  /* deixa os texto do botao em maiusculoo no automatico*/
    border-radius: 22px;
    transition: .5s;  /* transicao da mudanca de cor pro hover*/
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.664);
    font-weight: bolder;
}

.conteudo button:hover {
    background-color: #73358b;
    cursor: pointer;  /* cursor dedinho */
}

nav {
    text-align: center;
    padding: 20px;
    color: #fff;
}

nav a {
    color: #fff;
    margin: 0 1em;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;   /* sem linha automatica do link*/
}

main {
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #ffffff;
    gap: 1rem;
    
}

.card {
    background-color: rgb(228, 218, 218);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; 
    transition: 0.5s;
}

.card:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.500);
    cursor: pointer;
}
 



.legislacao {
    display: flex; /* alinha os artigos lado a lado */
    justify-content: space-around; /* espaço ao redor igual nos dois */
    gap: 10%; /* espaçamento entre os artigos */
    align-items: flex-start; /* alinha os textos no topo */
    color: rgb(228, 218, 218);
    padding-top: 5%;
    padding-bottom: 15%;
}

.legislacao article {
    flex: 1; /* ccda artigo ocupa o mesmo espaço */
    max-width: 35%; /* largura máxima de cada artigo */
    text-align: justify; /* deixa o texto alinhado em linhas retas */
}

.legislacao h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* espaco entre o título e o parsrafo */
    text-align: center; 
    color: rgb(0, 0, 0);
}

.legislacao p {
    line-height: 1.6; /* espaco de linhas do texto */
    color: #3d3535;
}


footer {
    background-color:  black;
    color: #fff;
    padding: 1em;
    text-align: center;
}



@media (min-width: 775px) and (max-width: 900px) {

    body {
        font-size: 95%; /* Ajusta o tamanho do texto do corpo */
    }
    
    .conteudo {
        margin: 40px;
    }
    
    .conteudo h1 {
        font-size: 30px;
    }
    
    .conteudo p {
        font-size: 15px;
    }
    
    .conteudo button {
        font-size: 15px;
    }

    main {
        padding: 2em; 
        text-align: center;
    }

    .legislacao {
        gap: 5%; /* Reduz o espaçamento entre os artigos */
    }

    .legislacao h2 {
        font-size: 1.6rem; /* Torna os títulos mais destacados */
    }

    .legislacao p {
        font-size: 1rem; /* Aumenta um pouco o texto */
    }
}



@media (max-width: 770px) {
    body {
        font-size: 90%; /* Ajusta o tamanho do texto do corpo */
    }
    
    .conteudo {
        margin: 40px;
    }
    
    .conteudo h1 {
        font-size: 25px;
    }
    
    .conteudo p {
        font-size: 15px;
    }
    
    .conteudo button {
        font-size: 15px;
    }

    main {
        padding: 1em;
    }

    .legislacao {
        flex-direction: column; /* Empilha os artigos verticalmente */
        gap: 2rem;
        align-items: center;
    }

    .legislacao article {
        max-width: 90%; /* Ocupa quase toda a largura */
    }


}

@media (max-width: 480px) {
    nav a {
        font-size: 15px;
    }

    .legislacao h2 {
        font-size: 1.2rem;
    }

}